<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425365984402-bhbj82qfejbm97g1vrb3stbi6qt5pa9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425365984402-bhbj82qfejbm97g1vrb3stbi6qt5pa9r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>425365984402-ro9g6vo9fch2s48mnhkjjanhmrc83kp4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQthvHwX02E9vsMyyGnKkANCLgeFEmBM</string>
	<key>GCM_SENDER_ID</key>
	<string>425365984402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnfoodapp</string>
	<key>PROJECT_ID</key>
	<string>rnfoodapp-f6979</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfoodapp-f6979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425365984402:ios:7677af611e4d42b090024b</string>
</dict>
</plist>